.main {
    background-color: rgba(156, 156, 161, 0.7);
    /*height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
}
.container {
    width: 440px;
    padding: 10px;
    background: #487488;
}